html{
  max-width: 1400px;
  margin: 0 auto;
}

li, li a{
  text-decoration: none;
  color: black;
  list-style: none;
}
body{
  margin: 0 2rem;
  background-color: #ebf6fa;
}

img{
  width: 100%;
  border-radius: 8px;
}